*settings.json
*subjects.json

*.rsync

*.xcbkptlist

*.xcuserstate

Core/Turbo Octo Hipster/Turbo Octo Hipster.xcodeproj/project.xcworkspace/xcuserdata/livio.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
